logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.gradle/
build/
out/
.idea_modules/

*.iml
*.ipr
*.iws
.idea/

ktor-*

frontend/.vscode/
frontend/.vite/
frontend/.eslintcache
frontend/coverage/
frontend/.DS_Store
frontend/dist/
frontend/dist-ssr/
frontend/*.local

**/__snapshots__/
**/*.spec.*
**/*.test.*

Thumbs.db
ehthumbs.db
[Dd]esktop.ini

*.swp
*.swo
*~
~$*
